.ads_main_container{
    height: 50%;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads_child_container{
    height: 94%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.ad_image{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
@media(max-width:500px){
  .ads_main_container{
    height: 30%;
    
    
  }
  .ad_image{
    width: 100%;
  }
}