.upcoming_main_container{
    height: 50%;
    width: 1420px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.upcoming_main_container_child{
    height: 95%;
    width: 1420px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px rgb(174, 172, 172);
}
.upcoming_main_container_top{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    
    border-bottom: 1px solid gray;
}
.events_text{
    padding-left: 30px;
    font-weight:400;
    
}
.upcoming_main_container_bottom{
    height: 85%;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info_div{
    height: 85%;
    width: 18%;
    background-color: #eceef0;
    border-radius: 30px;
}
.images{
    height: 100%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.image_container{
    height: 50%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.text_containertext{
    text-align: start;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 16px;
    color: blue;
}